on: [push]
name: ArmTemplatedeployment

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      ResourceGroupName: ASL-Prod-Resources
      ResourceGroupLocation: "UK West"
    steps:
    - uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Create resource group
      uses: Azure/arm-deploy@v1
      with: 
        scope: subscription
        subscriptionId: a73fb319-c5b6-4ccb-a1f0-8091d63dfe75
        region: UK west
        template: ./Arm-Templates/Resourcegroup.Json
        deploymentName: ASL deploy
          
        
        






        
