

on: [push]

name: ArmTemplatedeployment

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
    
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Deploy Resource group with Az Cli
      uses: Azure/cli@v2
      with:
        inlinescript:
          az deployment sub create --location "uk west" --template-file ./ASLcomputers-arm-Learning/Arm-templates/ResourceGroup.Json
        
